<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997210725348-4g7mbjetdcgr0j6fg91cngqe1rp2qhal.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997210725348-4g7mbjetdcgr0j6fg91cngqe1rp2qhal</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997210725348-129msljnelsp3nq50f48onqfq822hi1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvrYJ7GCfxRA_ZknwngSU6Qb0fpwsPu7E</string>
	<key>GCM_SENDER_ID</key>
	<string>997210725348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeordont.vanish</string>
	<key>PROJECT_ID</key>
	<string>vanish-a83bd</string>
	<key>STORAGE_BUCKET</key>
	<string>vanish-a83bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997210725348:ios:91b688194ac77c565405f1</string>
</dict>
</plist>